<h2 class="titulo">Product Details</h2>
<a href="/products">Back to Products</a>

<div class="product-details">
  <h3>{{this.title}}</h3>
  <p>Description: {{this.description}}</p>
  <p>Price: {{this.price}}</p>
  <p>Category: {{this.category}}</p>
  <p>Stock: {{this.stock}}</p>
  <input type="number" name="quantity" value="1" min="1">
  <button type="submit">Agregar al carrito</button>
</div>